@import "~bootstrap/scss/bootstrap";

body {
    font-family: sans-serif;
    background: #222;
    color: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* header */
.logo {
    width: 5rem;
}

.a-link {
    font-size: small;
    text-decoration: none;
    font-weight: bold;
    color: dimgray;
}

.a-link::after {
    border-bottom: 1px solid;
}

.a-link:hover {
    color: #3980f1;
}

/* jumbo */
.jumbo {
    background-image: url(/images/jumbotron.jpg);
    background-size: cover;
    height: 25rem;
}

/* body */
.content {
    background-color: #1c1c1c;
}

.content a {
    font-size: small;
    font-weight: 500;
    text-decoration: none;
    color: lightgray;
}

.load {
    padding: 1rem 4rem;
    background-color: #3776e2;
    font-weight: bold;
}

.load:hover {
    color: #3776e2;
    background-color: white;
    transition: 0.3s;
}

.series {
    padding: 1rem 2rem;
    background-color: #3776e2;
    font-weight: 600;
    font-size: x-large;

    position: absolute;
    top: -2rem;
    left: -1rem;
}

.series:hover {
    color: #3776e2;
    background-color: white;
    transition: 0.3s;
}

/* card */
.dcCard {
    width: 100%;
}

.text {
    width: 80%;
}

.fumetto-img {
    width: 12rem;
    height: 15rem;
}

div a {
    font-size: small;
    font-weight: 500;
    text-decoration: none;
    color: lightgray;
}

/* footer top */
.footer-top {
    background-color: #3980f1;
}

.img-ft {
    width: 3rem;
}

.a-ft {
    text-decoration: none;
    color: white;
}

/* footer middle */
.footer-middle {
    background-image: url(/images/footer-bg.jpg);
}

.bgImg {
    width: 80%;
    background-size: cover;
    background-position: center;
    background-image: url(/images/dc-logo-bg.png);
}

.span-fm {
    font-weight: bolder;
}

li {
    list-style: none;
}

.a-fm {
    text-decoration: none;
    color: gray;
    font-size: small;
}

.a-fm:hover {
    color: white;
}

/* footer-bottom */
.footer-bottom {
    background-color: #303030;
}

.a-fb {
    text-decoration: none;
    padding: 1rem;
    border: 2px solid #3776e2;
    font-weight: bolder;
}

.a-fb:hover {
    color: black;
    border-color: white;
    background-color: #3776e2;
}

.span-fb {
    color: #3776e2;
    font-weight: bolder;
    transition: 0.4s;
}


/******* SHOW *******/
.horizontal-blue-line {
    background-color: #3776e2;
    height: 4rem;
}

.show-img {
    position: absolute;
    bottom: 10.5rem;
    width: 14rem;
    height: 17rem;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #174086;
}